# G-Tube Project

In [20]:
import pandas as pd
import numpy as np
import glob
import re
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
# To-do

# 1 hour before : ('first pause')
# 1 hour after : ('second pause')
# Notes - induction -> closing for During. Variable amout of time
# create new variable: cStO2, rStO2

## Background

Premature infants undergo G-Tube Surgery. Data was collected for around 24 hours before and 24 hours after (not exact). This data was collected using NIRS which interfaced with the Moberg Machine. The first NIRS probe is placed on the infant's brain and the second probe is placed in the flank for renal StO2. 

EEG leads done by nurses. Pause monitoring for transport period. Stopped right before transport, restarted as soon as baby gets put onto the table.
Pauses (max 20 mins).

For this project, since there is no specific hypothesis, data will be visualized and exploratory data analysis will be used to better inform further analysis.

## Data Preparation and Cleaning

Data was downloaded from a private Google Drive server and file names were de-identified with this naming scheme: GTP001, GTP002, etc. Each file is concatenated into one dataframe for easier analysis.
Only relevant data was filtered out from the raw dataset to form the analysis dataframe. FTOE was calcualted from SpO2 and StO2.

## Data Features

|Feature Name   | Description   | Variable Type   |  
|---|---|---|
|Subject   | ID of Subject  | label  | 
|HR   | Heart Rate  | quantitative  | 
|RR   | Respiratory Rate  | quantitative  | 
|SpO2   | Peripheral Oxygen Saturation   | quantitative  | 
|MAP   | Mean Arterial Pressure  | quantitative  | 
|StO2_1   | Local tissue oxygenation - brain  | quantitative  | 
|StO2_2   | Local tissue oxygenation - renal  | quantitative  | 
|FTOE_1   | Fractional tissue oxygenation extraction - brain  | quantitative  | 
|FTOE_2   | Fractional tissue oxygenation extraction - renal  | quantitative  | 
|Annotation   | Patient notes  | label  |

In [10]:
files_lst= glob.glob(r'C:\Users\jctan\Documents\G-Tube Project\raws\*.csv', recursive=True) # Output 1

In [11]:
df_lst = []

In [12]:
for f in files_lst:
    # load file
    df = pd.read_csv(f, sep=',', low_memory=False)
    
    # Assign ID and Minutes
    df['Subject'] = re.search(r'GTP(.*?).csv', f).group(1).lstrip("0")
    df['Minutes'] = np.arange(1,len(df)+1)
    
    # EEG
    df['C3-P3'] = df['ADR,C3-P3,Numeric,Float,Amp1020,ADR_DL=0.5,ADR_DH=3.5,ADR_AL=8,ADR_AH=12.5:Mean']
    df['C4-P4'] = df['ADR,C4-P4,Numeric,Float,Amp1020,ADR_DL=0.5,ADR_DH=3.5,ADR_AL=8,ADR_AH=12.5:Mean']

    # Vitals
    df['HR'] = df['HR,na,Numeric,Float,IntelliVue (bpm):Mean']
    df['RR'] = df['RR,na,Numeric,Float,IntelliVue (BPM):Mean']
    df['SpO2'] = df['SpO2,na,Numeric,Float,IntelliVue (%):Mean']
    df['MAP'] = df['NBP,Mean,Numeric,Float,IntelliVue (mmHg):Mean']

    # NIRS
    df['StO2_1'] = df[df.columns[df.columns.str.startswith('StO2,1') & df.columns.str.endswith('Mean')]]
    df['StO2_2'] = df[df.columns[df.columns.str.startswith('StO2,2') & df.columns.str.endswith('Mean')]]
    
    df['FTOE_1'] = (df['SpO2'] - df['StO2_1']) / df['SpO2'] * 100 # (SpO2 - StO2) / SpO2
    df['FTOE_2'] = (df['SpO2'] - df['StO2_2']) / df['SpO2'] * 100
    
    df['Annotation'] = df.filter(regex='Notes')
    df_lst.append(df)

In [15]:
dff = pd.concat(df_lst, ignore_index=True)

C:\Users\jctan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

## Data Subsetting

For now, remove all EEG data. Focus on one hour around time = 0 which for now will be "prepping"

In [16]:
varlst = ['Subject', 'HR', 'RR', 'SpO2', 'MAP', 'StO2_1', 'StO2_2', 'FTOE_1', 'FTOE_2', 'Annotation'] # took out EEG for now

data = dff[varlst]

In [17]:
dct_temp = data.loc[data['Annotation'] == 'prepping']['Subject'].to_dict() # For each subject, find where 'prepping' occurs and set it as a dict value.
index_dct = dict((v,k) for k,v in dct_temp.items()) # Have to switch key and value in the temporary dict

In [18]:
# Split up the data into 60 mins before and 60 mins after procedure

before_lst = []
after_lst = []

Subject_lst = ['1', '2', '3', '4', '5', '6', '7']

def get_relevant_times(data):
    for i in Subject_lst:
        before = data[index_dct[i] - 60 : index_dct[i]]
        after = data[index_dct[i] : index_dct[i] + 60]
        before_lst.append(before)
        after_lst.append(after)
    
    df_before = pd.concat(before_lst)
    df_after = pd.concat(after_lst)
    return df_before, df_after

In [65]:
dfb, dfa = get_relevant_times(data)

In [66]:
# Function to display tables side-by-side
# Not working in JupyterLab?

from IPython.display import display_html
def display_sbs(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [89]:
print('Summary Statistics')

for i in varlst[1:]:
    dfb_summ = dfb[['Subject', i]].groupby('Subject').describe()
    dfa_summ = dfa[['Subject', i]].groupby('Subject').describe()
    display_sbs(dfb_summ, dfa_summ)
    
# dfb.boxplot(by='Subject', column='HR')
# plt.title('HR' + ' 1 Hr Before Procedure')

Summary Statistics

## Correlation

In [91]:
display_sbs(dfb.groupby('Subject').corr(), dfa.groupby('Subject').corr())

In [93]:
print('All Subjects 1 Hour Before')
display(dfb.corr().style.highlight_max(axis=0))

print('All Subjects 1 Hour After')
display(dfa.corr().style.highlight_max(axis=0))

All Subjects 1 Hour Before

All Subjects 1 Hour After

In [26]:
'''
for i in varlst[1:-1]:
    dfb.boxplot(by='Subject', column=i)
    plt.title(i + ' 1 Hr Before Procedure')
    plt.subplots_adjust(top=0.9,
    bottom=0.15,
    left=0.1,
    right=0.9,
    hspace=0.2,
    wspace=0.2)
    plt.savefig('figs/' + i + '_1_Hr_Before_Procedure.png')

for i in varlst[1:-1]:
    dfa.boxplot(by='Subject', column=i)
    plt.title(i + ' 1 Hr After Procedure')
    plt.subplots_adjust(top=0.9,
    bottom=0.15,
    left=0.1,
    right=0.9,
    hspace=0.2,
    wspace=0.2)
    plt.savefig('figs/' +  i + '_1_Hr_After_Procedure.png')
'''

In [12]:
# data.to_csv('clean/GTP_raw.csv', index=False)